In [20]:
from sqlalchemy import create_engine
from sqlalchemy.orm import declarative_base,sessionmaker
from sqlalchemy import Column, Integer, String, Boolean, Float, ForeignKey
from sqlalchemy.orm import relationship


# - Criando uma engine.
engine = create_engine('sqlite:///relationships.db', echo=True)
Base = declarative_base()

# Construindo modelo de po√ßo ilustrativo

In [21]:
class Basin(Base):
    __tablename__ = 'Basin'
    
    name = Column(String, primary_key=True)
    onshore = Column(Boolean)
    offshore = Column(Boolean)
    wells = relationship('Well')

In [22]:
class Well(Base):
    __tablename__ = 'Well'
    api = Column(Integer,primary_key=True)
    name_ANP = Column(String)
    name_operator = Column(String)
    basin = Column(String,ForeignKey('Basin.name'))
    def __repr__(self):
        return f"<User(name_ANP={self.name_ANP}, name_operator={self.name_operator})>"

In [ ]:
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship("Child")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))

In [27]:
Base.metadata.create_all(engine)

2022-02-09 16:47:47,458 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-09 16:47:47,470 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Basin")
2022-02-09 16:47:47,474 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-09 16:47:47,477 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Basin")
2022-02-09 16:47:47,479 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-09 16:47:47,481 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Well")
2022-02-09 16:47:47,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-09 16:47:47,498 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Well")
2022-02-09 16:47:47,500 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-09 16:47:47,509 INFO sqlalchemy.engine.Engine
CREATE TABLE "Basin" (
	name VARCHAR NOT NULL,
	onshore BOOLEAN,
	offshore BOOLEAN,
	PRIMARY KEY (name)
)


2022-02-09 16:47:47,516 INFO sqlalchemy.engine.Engine [no key 0.00637s] ()
2022-02-09 16:47:47,539 INFO sqlalchemy.engine.Engine
CREATE TABLE "Well" (
	api INTEGER NOT NULL,
	"name_ANP" VARCHAR,
	name_operator VARCHAR,
	basin VARCHAR,
	PRIMARY KEY (api),
	FOREIGN KEY(basin) REFERENCES "Basin" (name)
)


2022-02-09 16:47:47,545 INFO sqlalchemy.engine.Engine [no key 0.00559s] ()
2022-02-09 16:47:47,559 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
Session = sessionmaker(bind=engine)
Session.configure(bind=engine)
session = Session()

In [29]:
parnaiba = Basin(name='Parnaiba',onshore=True)
session.add(parnaiba)
session.commit()

2022-02-09 16:47:54,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-09 16:47:54,255 INFO sqlalchemy.engine.Engine INSERT INTO "Basin" (name, onshore, offshore) VALUES (?, ?, ?)
2022-02-09 16:47:54,260 INFO sqlalchemy.engine.Engine [cached since 75s ago] ('Parnaiba', 1, None)
2022-02-09 16:47:54,270 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
poco1 = Well(name_ANP='BAC001',name_operator='BAC001',basin='Parnaiba')
session.add(poco1)
session.commit()

2022-02-09 16:48:26,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-09 16:48:26,697 INFO sqlalchemy.engine.Engine INSERT INTO "Well" ("name_ANP", name_operator, basin) VALUES (?, ?, ?)
2022-02-09 16:48:26,700 INFO sqlalchemy.engine.Engine [generated in 0.00315s] ('BAC001', 'BAC001', 'Parnaiba')
2022-02-09 16:48:26,702 INFO sqlalchemy.engine.Engine COMMIT